Repository louischereau/Valence: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: ruff-check
        name: ruff lint
        description: Lint Python code with ruff
        entry: uv run ruff check --quiet
        language: system
        types: [python]
        require_serial: true

      - id: ruff-format
        name: ruff format
        description: Format Python code with ruff
        entry: uv run ruff format
        language: system
        types: [python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml

feat: add missing allow attribute for non-local definitions
  .gitignore
  python/valence/__pycache__/__init__.cpython-312.pyc
  src/lib.rs
Due: cargo-fmt

feat: add tests for package import and molecular graph functionality
  tests/test_import.py
Due: ruff-check, ruff-format

feat: add benchmark for bond finding in MolecularGraph
  Cargo.toml
  benches/physics_bench.rs
Due: cargo-fmt

feat: update Makefile with new benchmarking commands and remove obsolete physics benchmark
  .gitignore
  Makefile
  benches/physics_bench.rs
Due: cargo-fmt

feat: remove obsolete compiled Python bytecode file
  python/valence/__pycache__/__init__.cpython-312.pyc
Due: none

feat: add Molecule class with validation and batch processing capabilities$
  Cargo.toml
  Makefile
  python/valence/core.py
Due: ruff-check, ruff-format

feat: refactor fused inference test to use ValenceEngine and update batch inference test structure
  tests/test_core.py
Due: ruff-check, ruff-format

feat: implement batch inference consistency test with cutoff validation
  tests/test_core.py
Due: ruff-check, ruff-format

feat: update CI workflow to remove obsolete profiling steps and add release creation
  .github/workflows/ci.yml
Due: none

feat: add comprehensive README with project overview, features, installation instructions, and usage examples
  README.md
Due: none

fix: update benchmark command to simplify output handling
  .github/workflows/ci.yml
Due: none

fix: update benchmark command to simplify output handling (#5)
  .github/workflows/ci.yml
Due: none

feat: enhance CI
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  README.md
  benches/molecular_bench.rs
  benches/molecular_bench_iai.rs
  benches/scaling_bench.rs
  pyproject.toml
  python/valence/__init__.py
  python/valence/engine.py
  python/valence/molecule.py
  src/bin/latency_bench.rs
  src/bin/roofline_bench.rs
  uv.lock
Due: cargo-fmt, ruff-check, ruff-format

fix: clean up unused imports and improve error handling in benchmarks
  benches/molecular_bench.rs
  benches/scaling_bench.rs
  src/bin/latency_bench.rs
  src/bin/roofline_bench.rs
Due: cargo-fmt

fix: rename job to 'quality' and ensure fontconfig installation is included in both jobs
  .github/workflows/quality.yml
Due: none

fix: add installation step for fontconfig in performance benchmarking workflow
  .github/workflows/performance.yml
Due: none

fix: add JSON output mode for benchmark results
  src/bin/latency_bench.rs
Due: cargo-fmt

fix: Install fontconfig
  .github/workflows/performance.yml
Due: none

fix: clean up performance.yml by removing commented-out sections
  .github/workflows/performance.yml
Due: none

fix: update imports in benchmark files for codspeed compatibility
  benches/molecular_bench.rs
  benches/scaling_bench.rs
Due: cargo-fmt

fix: update benchmark group and main definitions for CodSpeed compatibility
  benches/molecular_bench.rs
Due: cargo-fmt

fix: add missing paths for scaling_bench and iai_bench in Cargo.toml
  Cargo.toml
Due: none

fix: remove unnecessary features flag from cargo codspeed run command
  .github/workflows/performance.yml
Due: none

fix: enable manual triggering for CodSpeed benchmarks workflow
  .github/workflows/performance.yml
  README.md
Due: none

fix: update release workflow and semantic release configuration
  .github/workflows/release.yml
  pyproject.toml
Due: none

fix: update CI workflows to use codspeed-macro and adjust release steps
  .github/workflows/performance.yml
  .github/workflows/release.yml
Due: none

fix: update release workflow to clarify installation steps for system dependencies
  .github/workflows/release.yml
Due: none

fix: add debug output for semantic release step
  .github/workflows/release.yml
Due: none

fix: add regex pattern for version matching in semantic release configuration
  pyproject.toml
Due: none

fix: remove debug output from semantic release step and restore version pattern in pyproject.toml
  .github/workflows/release.yml
  pyproject.toml
Due: none

fix: update version variable reference for Cargo.toml in semantic release configuration
  pyproject.toml
Due: none

fix: remove Cargo.toml version variable from semantic release configuration
  pyproject.toml
Due: none

fix: update CI workflows to use codspeed-macro and adjust release steps (#9)
  .github/workflows/release.yml
  pyproject.toml
Due: none

fix: enable fetching tags in release workflow
  .github/workflows/release.yml
Due: none

fix: add missing branch configuration in semantic release settings
  pyproject.toml
Due: none

fix: enable fetching tags in release workflow (#10)
  .github/workflows/quality.yml
  .github/workflows/release.yml
  Cargo.toml
  pyproject.toml
Due: none

refactor: Refactor GNN model and inference engine
  .github/workflows/performance.yml
  .gitignore
  benches/molecular_bench.rs
  benches/scaling_bench.rs
  examples/profile_engine.rs
  scripts/stress_tests.py
  src/batch.rs
  src/core/connectivity.rs
  src/core/mod.rs
  src/core/model.rs
  src/engine.rs
  src/lib.rs
  src/model.rs
  tests/test_core.py
Due: cargo-fmt, ruff-check, ruff-format

feat: integrate num_rbf parameter across engine and benchmarks; refactor HadronisEngine naming
  benches/molecular_bench.rs
  benches/scaling_bench.rs
  examples/profile_engine.rs
  python/hadronis/engine.py
  scripts/stress_tests.py
  src/engine.rs
  src/lib.rs
  tests/test_core.py
Due: cargo-fmt, ruff-check, ruff-format

test: update assertions in batch inference tests to check output dtype
  tests/test_core.py
Due: ruff-check, ruff-format
